.product-card {
    width: 14rem;
    text-align: center;
    margin: 2rem auto;
    position: relative;
    padding-bottom: 1rem;
    transition: 0.3s;
}

.product-card:hover {
    box-shadow: 0 0 3px black;
}

.product-card h3 {
    margin: 1rem 0;
    padding: 0 1rem;
}

.product-card .product-img {
    width: 100%;
    height: 10rem;
    background-size: cover;
}

.product-card .buy_btn {
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 1.5rem;
}

.product-card .add_wish_btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding-top: 0.3rem;
    box-shadow: 0px 0px 3px black;
    transition: 0.2s;
    cursor: pointer;
}

.product-card .add_wish_btn:hover {
    background-color: black;
    color: white;
}

.product-card.saved .add_wish_btn {
    color:red;
}

.almofada-pelucia .product-img {
    background-image: url("./imgs/Lojinha/produtos-img/almofada-pelucia.jpg");
}

.bola-com-abertura-para-racao .product-img {
    background-image: url("./imgs/Lojinha/produtos-img/bola-com-abertura-para-racao.jpg");
}

.cama-pequena .product-img {
    background-image: url("./imgs/Lojinha/produtos-img/cama-pequena.jpg");
}

.arranhador-2-andares .product-img {
    background-image: url("./imgs/Lojinha/produtos-img/arranhador-2-andares.jpg");
}

.urso-teddy-bear .product-img {
    background-image: url("./imgs/Lojinha/produtos-img/urso-teddy-bear.jpg");
}

.pelucias-sortidas .product-img {
    background-image: url("./imgs/Lojinha/produtos-img/pelucias-sortidas.jpg");
}
