#wishlist-section{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 80%;
    background-color: white;
    border-radius: 1rem;
    padding: 0 8rem;
    padding-top: 5rem;
    overflow-y: auto;
    top: 5rem;
    position: relative;
  }

  .invisible{
    display: none;
  }

.product-card {
    height: max-content;
}

dialog .add_wish_btn {
    color: red;
}