@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x4h4qc');
  src:  url('fonts/icomoon.eot?x4h4qc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x4h4qc') format('truetype'),
    url('fonts/icomoon.woff?x4h4qc') format('woff'),
    url('fonts/icomoon.svg?x4h4qc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pesquisa:before {
  content: "\e900";
}
.icon-contato-email:before {
  content: "\e901";
}
.icon-64572:before {
  content: "\e902";
}
.icon-arrow_drop_down:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-github:before {
  content: "\e905";
}
.icon-basket:before {
  content: "\e906";
}
.icon-shop:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e906";
}
.icon-ecommerce:before {
  content: "\e906";
}
.icon-buy:before {
  content: "\e906";
}
.icon-purchase:before {
  content: "\e906";
}
