#slider {
  margin-top: 7.5rem;
  box-shadow: 0 0 2px black;
  overflow: auto;
  padding: 1rem;
  width: 100vw;
}

.div-img {
  height: 45rem;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
}

.img1 {
  background-image: url("./Products/imgs/Lojinha/carrossel/img1.jpg");
}

.img2 {
  background-image: url("./Products/imgs/Lojinha/carrossel/img2.jpg");
}