@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0;
}



body {
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

h2{
  text-transform: uppercase;
  text-align: center;
}

h3{
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 1rem;
}

li {
  position: relative;
}

li::before {
  width: 0%;
  height: 2px;
  position: absolute;
  content: "";
  background-color: white;
  bottom: -5px;
  transition: 0.3s;
}

li:hover::before {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.grid {
  display: grid;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

main {
  margin-top: 10rem;
}

/* navigation */

nav {
  width: 100%;
  color: white;
}

#top-bar {
  background-color: #ec5f80;
  height: 3rem;
  padding: 0 3rem;
}

.group-1,
.group-2,
.group-3 {
  display: inline-block;
  width: 33.3%;
}

.group-2 {
  text-align: right;
  color: black;
  background-color: white;
  border-radius: 1rem;
  padding: 2px 0.4rem;
  position: relative;
  top: -1rem;
  height: 1.5rem;
}

.group-2 span {
  background-color: white;
  width: 10rem;
}

.group-3 {
  text-align: right;
  font-size: 2rem;
  position: relative;
  top: -0.5rem;
}

.group-3 span {
  margin-left: 1rem;
}

.group-3 button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

#bottom-bar {
  background-color: #a97bb0;
  text-transform: uppercase;
  height: 3.5rem;
  padding: 1rem 0;
}

#bottom-bar ul {
  width: max-content;
}

#bottom-bar ul li {
  display: inline-block;
  margin: 0 2rem;
}

#logo-type {
  font-size: 3rem;
}

/* producs-section */

#product-section {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 4rem;
  width: 80%;
}

dialog {
  width: 100%;
  height: 100vh;
  top: 0;
  border: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.384);
  position: fixed;
}

dialog .wishlist-btn {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 5rem;
  border-radius: 0 0 2rem 2rem;
  border: none;
  background-color: rgb(255, 196, 196);
  text-transform: uppercase;
  height: 2.5rem;
  z-index: 1000;
  cursor: pointer;
  transition: 0.3s;
  border: 1px black solid;
}


/* RESPONSIVE */

@media screen and (max-width: 1800px) {
  #product-section{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 4rem;
    width: 80%;
  }

}

@media screen and (max-width: 1500px) {
  #product-section{
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
    width: 80%;
  }

}

@media screen and (max-width: 1000px) {
  #product-section{
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    width: 80%;
  }

}


@media screen and (max-width: 800px) {
  #product-section{
    grid-template-columns: 1fr;
    margin-top: 4rem;
    width: 80%;
  }

  #top-bar {
    font-size: 1rem;
    height: 2.9rem;
    padding: 1rem 5px;
  }

  #bottom-bar {
    font-size: 0.6rem;
    height: 2.7rem;
  }

  .group-1 #logo-type {
    font-size: 2rem;
    position: relative;
    top: -0.5rem;
  }

  .group-2 {
    height: 1rem;
    padding-top: 0;
  }

  .group-2 span {
    background: none;
    font-size: 0.8rem;
  }

  .group-3 span {
    font-size: 1rem;
    position: relative;
    top: -0.5rem;
  }
}